{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Diaspora-Watch </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}" >
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>


	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'homepage' %}"><h3>Survey by Kgp</h3></a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  {% comment %} <li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="{% url 'survey' %}"><h5>Survey</h5></a>
			  </li> {% endcomment %}
			  <li class="nav-item">
				  <a class="nav-link" href="{% url 'privacy' %}"><h5>Privacy Policy</h5></a>
			  </li>
			  {% comment %} <li class="nav-item">
				  <a class="nav-link" href="{% url 'terms' %}"><h5>Terms</h5></a>
			  </li> {% endcomment %}
			</ul>
			{% if user.is_authenticated %}
				<ul class="navbar-nav ml-auto">
					<li class="navbar-text" style="padding:auto; color:white;">
						<a class="nav-link" href="{% url 'dashboard' %}"><h5>Hello {{ user.first_name }} {{ user.last_name }}</h5></a>
					</li>
					{% comment %} <li class="navbar-text" style="padding:auto; color:white;">
						<a class="nav-link active" href="{% url 'logout' %}"><h5>Logout</h5></a>
					</li> {% endcomment %}
				</ul>
				<!-- <span class="nav-item">
					Hello {{ user.first_name }} {{ user.last_name }}
				</span>
				 -->
			{% endif %}
		  </div>
		</div>
	  </nav>

	<div class="container-fluid" style="background-image: url({% static "crowd.jpg" %}); background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover;">  
		{% block content %}
		{% endblock %}
	</div>


	<div id="dropDownSelect1"></div>
	
	<footer class="bg-dark text-center text-white" style="position:relative; bottom: 0; width:100%; height:auto;">
        <div id="footer">

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-white" href="{% url 'homepage' %}"> survey-app.in </a>
            </div>
        </div>
    </footer>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>