{% extends 'base_template.html' %}

{% load crispy_forms_tags %}

{% block content %}
        {% load static %}

	<br><br>

	<div class="limiter">
                <div class="container-login100" style="margin:auto; border-radius:10px;">
			<div class="w-full">
                <h1>Consent to Participate in Research</h1>
                <br>
                <span class="text-dark">
                <div class="container-fluid">
                    <p>
                        <strong>Title of Research Study: </strong> Evaluating a Usable data-driven tool to assist end-users in detecting
                        misinformation on social apps
                    </p>
                    <p>
                        <strong>Principal Investigator: </strong> Prof Mainack Mondal
                    </p>
                    <p>
                        <strong>Student Investigator: </strong> Matta Varun,Sai Gokul V,Shashank Suroju,A Ashwin Sai,Mannan Baidi
                    </p>
                    <p>
                        <strong>Supported By: </strong> This research is supported by IIT Kharagpur
                    </p>
                    <p>
                        <strong>Key Information about this research study: </strong> <br> 
                        The following is a short summary of this study to help you decide whether to be a part of this study. Information that is more detailed is explained later on in this form.<br>
                        <ul>
                            <li>The purpose of this study is analyze how explainability is related to convincing a user whether
                                a post is misleading or not.</li>
                            <li>You will be asked to complete a survey</li>
                            <li>We expect that you will be in this research study for around 5-10 mins.</li>
                            <li>The main benefit of being in this study is it helps in creating a efficient and usable tool for
                                assisting user to detect misinformation.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Why am I being asked to take part in this research study? </strong><br>
                        We are asking you to take part in this research study because you are a citizen of India.
                    </p>
                    <p>
                        <strong>How many people will be in this study? </strong><br>
                        We expect about 80-100 people will be in this research study.
                    </p>
                    <p>
                        <strong>What should I know about participating in a research study?</strong> <br> 
                        <ul>
                            <li>Whether or not you take part is up to you.</li>
                            <li>You can choose not to take part.</li>
                            <li>You can agree to take part and later change your mind.</li>
                            <li>Your decision will not be held against you.</li>
                            <li>You can ask all the questions you want before you decide.</li>
                            <li>You do not have to answer any question you do not want to answer.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>What happens if I say, “Yes, I want to be in this research”?</strong> <br> 
                        <ul>
                            <li>You would be asked to complete an online survey which would take around 5-10 minutes.</li>
                            <li>You can choose not to take part.</li>
                            <li>You would be interacting with a survey interface hosted by our website.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Will being in this study help me in any way? </strong><br>
                        We cannot promise any benefits to you or others from your taking part in this research. However,
possible benefits include a better understanding of explainability while targeting misinformation on
social media. With this understanding we would be able to design a tool that is efficient and usable
for assisting end-users to detect misinformation.
                    </p>
                    <p>
                        <strong>Is there any way being in this study could be bad for me? </strong><br>
                        There are no potential risks to the participants by participating in this study. To protect you from misinformation, the social media posts you will be seeing in this survey will be clarified in detail once the survey ends.
                    </p>
                    <p>
                        <strong>What happens if I do not want to be in this research, or I change my mind later? </strong><br>
                        Participation in research is voluntary. You can decide to participate or not to participate. If you do
not want to be in this study or withdraw from the study at any point, your decision will not affect
your relationship with IIT Kharagpur.<br>
You can leave the research at any time and it will not be held against you.<br><br>
If you decide to withdraw from this study, any data already collected from you will be destroyed.
                    </p>
                    <p>
                        <strong>How will the researchers protect my information? </strong><br>
                        We ensure confidentiality and security of the participant information by following procedures.
                        <ul>
                            <li>The data collected from survey is sent to the server using a secure connection.</li>
                            <li>The access to the data is only given to the Investigators that are part of the study.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Who will have access to the information collected during this research study? </strong><br>
                        Efforts will be made to limit the use and disclosure of your personal information, including research
study records, to people who have a need to review this information. We cannot promise complete
secrecy.<br>
There are reasons why information about you may be used or seen by other people beyond the
research team during or after this study. Examples include:<br>
                        <ul>
                            <li>University officials, government officials, study funders, auditors, and the Institutional Review
                                Board may need access to the study information to make sure the study is done in a safe and
                                appropriate manner.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>How might the information collected in this study be shared in the future? </strong><br>
                        We will keep the information we collect about you during this research study for study recordkeeping.<br>
                        De-identified data from this study may be shared with the research community, with journals in
which study results are published, and with databases and data repositories used for research.
                    </p>
                    <p>
                        <strong>Will I be paid or given anything for taking part in this study? </strong><br>
                        There is no payment or reimbursement for participating in this study.
                    </p>
                    <p>
                        <strong>Who can I talk to? </strong><br>
                        If you have questions, concerns, or complaints, you can contact the<br>
                        Principal Investigator : Prof Mainack Mondal (Email id : mainack@cse.iitkgp.ac.in ) and<br>
                        Matta Varun (Email id : varunkaleb@gmail.com)<br>
                        This research has been reviewed and approved by an Institutional Review Board (“IRB”) – an IRB is a
committee that protects the rights of people who participate in research studies. You may contact
the IRB by phone at +1 (312) 503-9338 or by email at irb@northwestern.edu if:<br>
                        <ul>
                            <li>Your questions, concerns, or complaints are not being answered by the research team.</li>
                            <li>You cannot reach the research team.</li>
                            <li>You want to talk to someone besides the research team.</li>
                            <li>You have questions about your rights as a research participant.</li>
                            <li>You want to get information or provide input about this research.</li>
                        </ul>
                        <br><br>
                        If you want a copy of this consent for your records, contact the Principal Investigator with the contact
information above.
                        <br><br>
                        If you wish to participate, please select the option “Yes, I consent” and submit the form.
                        <br><br>
                        If you do not wish to participate in this study, please select the option “No, I do not consent” or select
X in the corner of your browser.
                        <br><br>
                    </p>
                </div>
                </span>
                <br>
                {% comment %} <div class="container-fluid text-center"> {% endcomment %}
                    <form class="form justify-content-center" id="id-personal-data-form" action="{% url 'consent' %}" method="post">
                        {% csrf_token %}
                        <span>
                            {{form|crispy}}
                        </span>
                        <br>
                        <div class="container-fluid text-center">
                            <button type="submit" class="txt3" value="Submit">
                                Submit
                            </button>
                            <br><br>
                        </div>
                    </form>
                {% comment %} </div> {% endcomment %}
			</div>
		</div>
	</div>

	<br><br>

{% endblock %}