{% extends 'base_template.html' %}

{% load crispy_forms_tags %}

{% block content %}
        {% load static %}

	<br><br>

	<div class="limiter">
                <div class="container-login100" style="margin:auto; border-radius:10px;">
			<div class="w-full text-center">
                <h1>Consent</h1>
                <br>
                Consent text
                <br>
                <form class="form justify-content-center" id="id-personal-data-form" action="{% url 'consent' %}" method="post">
    				{% csrf_token %}
                    <span>
                        {{form.as_table}}
                    </span>
				    <br>
                    <button type="submit" class="txt3" value="Submit">
                        Submit
                    </button>
                </form>
			</div>
		</div>
	</div>

	<br><br>

{% endblock %}