{% extends 'base_template.html' %} {% block content %} {% load static %}

<div class="limiter" style="background-color: transparent;">
    <div class="container-login100" style="background-color: transparent; margin:auto">
        <span class="border border-secondary border-3">
			<div class="wrap-login100">
				<form class="login100-form validate-form" style="min-height:1000px; height:auto;">

						{% comment %} <span class="login100-image">
							<img src="{% static 'diaspora-watch-logo.png' %}" class="card-img-top" alt="...">
                			<br>
						</span> {% endcomment %}

                    <span class="login100-form-title p-b-34">
						Welcome to the Survey on Misinformation conducted by academics at IIT Kharagpur!<br><br>Click below to get started.
					</span>

        <!--
                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="first-name" class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
                -->

        <div class="container-login100-form-btn">
            <a href="{% url 'consent' %}" class="login100-form-btn">
				Get Started
            </a>
        </div>

{% comment %} 
        <span class="login100-form-title p-b-34">
						<br>
						<br>
					</span> {% endcomment %}



        <!--div class="w-full text-center">
						<span class="txt1">
							Data collected by
						</span>
						<a href="https://comminfo.rutgers.edu/garimella-kiran" class="txt3">
							Professor Kiran Garimella
						</a>
					</div-->



        <div class="container-fluid text-center">
            <a href="https://cse.iitkgp.ac.in/~mainack/" class="txt3">
                                                        Our Principal Investigator
                                                </a>
        </div>

        <div class="container-fluid text-center">
            <a href="{% url 'homepage' %}" class="txt3">
                                                        Privacy Policy
                                                </a>
        </div>



        </form>

        <div class="login100-more" style="background-color:rgb(223,227,238);">
            <span class="login100-form-title p-b-34">
				<br><br>About Us
				<br>

			</span>
            <div class="container bg-light" style="width:90%; border-radius:15px; padding:5%; text-align: justify; text-justify: inter-word;">

                <br>
                <span class="txt3">
                    We are a group of five undergraduate students from the Department of Computer Science and Engineering at Indian Institute of Technology, Kharagpur, guided by Professor Mainack Mondal. <br><br>
                    As part of our project to evaluate the impact of various factors on the identification of misinformation on social media, we are conducting this survey to learn how different people respond to misinformative posts online and how we can build tools to best assist the public in staying safe from misinformation.<br><br>
                    Our study has been approved by the Institutional Review Board at IIT Kharagpur to be ethical and we take consent from you before you answer our misinformation and demographic related questions. <br><br>
                    To protect you from possible misinformation during this survey, we provide you a detailed summary and resources for every social media post you come across during this survey. The survey would only require 5-10 minutes of your valuable time.<br><br>
                    Click on 'Get Started' to start the survey process.

								<!--Id cursus metus aliquam eleifend. Varius quam quisque id diam vel quam elementum pulvinar etiam. Morbi tristique senectus et netus et malesuada fames ac turpis. Imperdiet proin fermentum leo vel. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Fermentum et sollicitudin ac orci phasellus. Aliquet sagittis id consectetur purus.
								-->
				</span>
            </div>


        </div>
    </div>
    </span>
</div>
</div>


<div class="wrapper">
    <div class="container-fluid bg-light" style=" padding:5%; border-radius:10px">
        <!---->
        <h2 class="login100-form-title p-b-34">About the Survey</h2>
        <hr><br><br>
        <div class="container" style="width:75%; text-align: justify; text-justify: inter-word;">
            <span class="txt3">
                The survey questionnaire was developed by the student investigators and initially contains three questions that show you a social media post and ask you to identify if it is misinformative or not. The posts maybe misinformative or true in reality. In addition, we show you an "alert" stating it is misinformative or not misinformative, but it is upto you whether to believe it or not. In addition, we also ask you whether you have seen the post prior to the survey to identify any possible bias you may have.
				<br><br>
                Once the misinformation questions are answered, there will be a short demographic survey, asking your age group, gender, educational qualification and frequency of using social media. Afterwards you will be led to a thank-you page mentioning the details and explanation for the posts you've already seen in the survey, to clear up any questions you might have.
			
				<br><br>No personal information (except those shared by you) is collected as part of this project. Our research has been approved by the Institutional Review Board at Rutgers University. Please refer to our <a href="{% url 'privacy' %}">privacy policy</a> for additional information.
				</span>
        </div>
        <br><br>
        <hr>
    </div>
</div>


<br> {% endblock %}