{% extends 'base_template.html' %}

{% load crispy_forms_tags %}

{% block content %}
        {% load static %}

	<br><br>

	<div class="wrapper">
        <div class="container-login100" style="margin:auto; border-radius:10px;">
			<div class="w-full text-center">
                <h2>Question {{ question_no }}</h2>
                <br>
                {% if question_no < 4 %}
                <span class="login100-image" style="padding:5%;">
                    <img src="{{ photo_filename }}" class="card-img-top" alt="..." style="border-radius:2%;">
                    <br>
                </span>
                <br>
                <div class="alert alert-danger" role="alert">
                    Our fact-checkers have verified this post and found it to be misleading or misinformative!
                </div>
                {% endif %}                  
                {% if question_no == 1 %}
                    {% comment %}  {% endcomment %}
                {% elif question_no == 2 %}
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Click to view more details about the post above
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"> {{ summary }} </div>
                        </div>
                    </div>
                </div>
                  
                {% elif question_no == 3 %}
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Click to view more details about the post above
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>{{ summary }}</p>
                                <p>More detailed explanation for the post above can be found <a href="{{ link }}" class="txt3">here</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif question_no == 4 %}
                    <h4><u>Demographic Survey</u></h4>
                    <br>
                {% endif %}
			</div>
            <form class="form justify-content-center" id="id-personal-data-form" action="{% url 'survey' %}" method="post">
                {% csrf_token %}
                <span>
                    {{form|crispy}}
                </span>
                <br>
                <div class="container-fluid text-center">
                    <button type="submit" class="btn btn-primary" value="Submit">
                        Submit
                    </button>
                    <br><br>
                </div>
            </form>
            <br><br>
		</div>
	</div>

	<br><br>

{% endblock %}